
.logo {
    display: flex;
}

header {
    /* width: 1421px; */
    margin-top: 45px;
    margin-left: 44px;
    display: flex;
    justify-content: space-between;

}

.menu ul {
    display: flex;

}

.menu ul li {
    margin-left: 30px;
    color: #000;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
}

.menu ul .sobre {
    align-self: center;
    background-color: #5BC241;
    padding: 10px;
    justify-content: center;
    display: flex;

}

.logo h1 {
    color: #000;
    font-family: Public Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    align-self: center;
}

.btn {
    margin-left: 30px;
    background-color: #5BC241;
    width: 127px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;


    color: #FFF;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-right: 10px;
}

@media (max-width: 400px) {
    .logo {
        display: flex;
        margin-bottom: 100px;
        justify-content: center;
    }

    header {
        width: 100%;
        margin-top: 45px;
        margin-left: 44px;
        display: block;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 27px;
    }

    .menu ul {
        display: block;


    }

    .menu ul li {
        text-align: center;
        align-self: center;
        margin: 0 auto;


        color: #000;
        text-align: center;
        font-family: Public Sans;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 33px;
    }

    .menu ul li a {
        width: 100%;
    }

    .menu ul .item {
        margin-bottom: 33px;
    }

    .menu ul .sobre {
        align-self: center;
        background-color: #5BC241;
        /* padding: 10px; */
        width: 200px;
        display: block;
        justify-content: center;
        align-items: center;

    }

    .logo h1 {
        color: #000;
        font-family: Public Sans;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        align-self: center;
    }

    .btn {
        margin-left: 0px;
        background-color: #5BC241;
        width: 151px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 10px;
        border: none;


        color: #FFF;
        font-family: Public Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 33px;
    }

}
